{% extends 'layout.html.twig' %}

{% block content %}
    {% include "_sidebar.html.twig" %}
    <main class="main">
        {% for article in articles %}
            <div class="card">
                <div class="card-flex1">
                    <a class="card-image-link" href="{{ '/articles/show/' ~ article.id }}">
                        <div class="card-image" id="card-image1"></div>
                    </a>
                </div>
                <div class="card-flex2">
                    <a href="{{ '/articles/show/' ~ article.id }}" class="card-title">{{ article.title }}</a>
                    <div class="card-date">SEPTEMBER 8, 2016</div>
                    <a href="{{ '/articles/show/' ~ article.id }}" class="card-category">ART</a>
                    <p class="card-content">{{ article.precontent }}</p>
                    <a class="card-link" href="{{ '/articles/show/' ~ article.id }}">Read more...</a>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
